DATABASE_URL=mysql+pymysql://root:@127.0.0.1:3306/sipedi_db
SECRET_KEY=yoursecretkey123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
UPLOAD_DIR=uploads

# Brevo Email Configuration
BREVO_API_KEY=
BREVO_SENDER_EMAIL=no-reply@sipedi.go.id
BREVO_SENDER_NAME=SIPEDI - Layanan Publik
FRONTEND_URL=http://localhost:5173
RESET_TOKEN_EXPIRE_MINUTES=30
