alembic
annotated-doc
annotated-types
anyio
bcrypt<4.0.0
cffi
click
colorama
cryptography
dnspython
ecdsa
email-validator
fastapi
h11
idna
iniconfig
Mako
MarkupSafe
packaging
passlib
pluggy
pyasn1
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyMySQL
pytest
python-dotenv
python-jose
python-multipart
rsa
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
